<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <appSettings>
      <!--<add key="videoStreamUrl" value="rtmp://58.200.131.2:1935/livetv/cctv9"></add>-->
      <!--<add key="videoStreamUrl" value="rtmp://58.200.131.2:1935/livetv/cctv5"></add>-->
      <!--<add key="videoStreamUrl" value="rtmp://58.200.131.2:1935/livetv/hunantv"></add>-->
      <add key="videoStreamUrl" value="rtmp://58.200.131.2:1935/livetv/cctv3"></add>
      <!-- SDK APPID    请到官网https://ai.arcsoft.com.cn/index.html中申请 -->
      <add key="APP_ID" value="HrSKyCMMH7vx7sqHwNV8evpP3qzjXccnu8mo6We*****"/>
      <!-- //与SDK对应    请到官网https://ai.arcsoft.com.cn/index.html中申请 -->
      <add key="SDKKEY" value="D8GoabzvPwuK1ZNw1JCMebVLgM37on4zSrHov5q*****"/>


      <!-- SDK APPID    请到官网https://ai.arcsoft.com.cn/index.html中申请 -->
      <!--<add key="APP_ID" value="HrSKyCMMH7vx7sqHwNV8evpWDFFumWe3j9xdome*****"/>
      --><!-- //与SDK对应    请到官网https://ai.arcsoft.com.cn/index.html中申请 --><!--
      <add key="SDKKEY" value="E54EXFTZMrr1nKaowgwTNcEE7q5LcLuFgBkYVnq*****"/>
      --><!-- //试用码 --><!--
      <add key="ActiveKey" value="8381-1172-N13J-****"/>-->
    </appSettings>
</configuration>